<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nereus Stats</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  
<div class="container">
  <h1>Nereus Stats Backend Testing</h1>
  <p>Ensure this renders when hosten from AWS.</p> 
</div>

</body>
</html>
